/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

@import 'variables';

@import 'mixins';

@import 'typography';

@import 'buttons';

@import 'common';

@import 'templates/navigation.scss';

@import 'templates/main.scss';


.header-banner {
	background-image: radial-gradient(at right center, rgb(6, 82, 197), rgb(9, 0, 135));
    //background-image: url('../images/wallpaper.svg');
    background-size: cover;
    backdrop-filter: blur(16px);
    //background-color: rgba(241, 242, 244, 0.8);
    border-bottom-color: rgb(223, 227, 231);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-sizing: border-box;
    color: rgb(25, 28, 31);
    display: flex;
    font-family: "Geologica"; // "Basier Circle", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 69px;
    line-height: normal;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 2;
}

.header-content {
    align-items: center;
    box-sizing: border-box;
    color: rgb(25, 28, 31);
    display: flex;
    font-family: "Geologica"; // "Basier Circle", sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    height: 68px;
    justify-content: space-between;
    line-height: normal;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    width: 1000px;
    padding: 1rem 1rem;
    // @include tablet {
    //     padding: 1rem 1rem;
    // }
}

@media (min-width: 720px) {
    .header-content {
        max-width: 720px;
        width: 720px;
    }
}
@media (min-width: 960px) {
    .header-content {
        max-width: 960px;
        width: 960px;
    }
}
@media (min-width: 1140px) {
    .header-content {
        max-width: 1140px;
        width: 1140px;
    }
}

@media (min-width: 1320px) {
    .header-content {
        max-width: 1320px;
        width: 1320px;
    }
}


.btn-blog,
.btn-login,
.btn-register {
    background-color: #FFFFFF00 !important; // rgb(255 255 255 / 0.2) !important;
    color: white !important;
    font-weight: 400;
    line-height: 24px;
    border-radius: 0.35rem;
    margin-left: 0.1rem;
    font-size: 16px;
    font-family: 'Geologica'; //'Inter', 'Raleway';

    &:hover {
        background-color: #CB01AD !important;
        color: white;
    }
}
.btn-login {
    padding: 12px 18px !important;
}
.btn-register {
    background-color: #FFFFFF40 !important;
    padding: 12px 24px !important;
}
.btn-blog {
    background-image: linear-gradient(to right,var(--tw-gradient-stops));
    --tw-gradient-from: #22d3ee;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(34 211 238 / 0));
    --tw-gradient-stops: var(--tw-gradient-from), #9333ea, var(--tw-gradient-to, rgb(147 51 234 / 0));
    --tw-gradient-to: #be185d;
    margin-right: 0.1rem;

    &:hover {
        background-color: white!important;
        color: white;    
    }
}

img[src$='#center'] {
    display: block;
    margin: 0 auto;
}


@media (max-width: 660px) {
    .header-content {
        width: 100%;
        display: block;
    }
    .header-banner {
        height: 110px;
    }
    .w-header-logo {
        text-align: center;
    }
    .w-header-nav {
        margin-top: 20px;
        text-align: center;
    }
}