/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

@import 'variables';

@import 'mixins';

@import 'typography';

@import 'buttons';

@import 'common';

@import 'templates/navigation.scss';

@import 'templates/main.scss';


.header-banner {
    backdrop-filter: blur(16px);
    background-color: rgba(241, 242, 244, 0.8);
    border-bottom-color: rgb(223, 227, 231);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-sizing: border-box;
    color: rgb(25, 28, 31);
    display: flex;
    font-family: "Basier Circle", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 69px;
    line-height: normal;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 2;
}

.header-content {
    align-items: center;
    box-sizing: border-box;
    color: rgb(25, 28, 31);
    display: flex;
    font-family: "Basier Circle", sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    height: 68px;
    justify-content: space-between;
    line-height: normal;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    width: 1000px;
    padding: 1rem 1rem;
    // @include tablet {
    //     padding: 1rem 1rem;
    // }
}

.btn-login {
    background-color: black;
    color: white;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 0.5rem 0.7rem;
    border-radius: 0.35rem;
    margin-left: 0.1rem;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Raleway';
    letter-spacing: 0.1rem;

    &:hover {
        background-color: white;
        color: black;    
    }
}

img[src$='#center'] {
    display: block;
    margin: 0 auto;
}
